#product-bnnr {
    background: #111;
    padding: 70px 0;
    width: 100%;
    height: 440px;
    color: #fff;
    text-align: center;
}

#product-bnnr::before {
    content: '';
    display: block;
    width: 50%;
    height: 20px;
    background: #fff;
}

#product-bnnr::after {
    content: '';
    display: block;
    width: 50%;
    height: 20px;
    background: #fff;
    float: right;
}

#product-bnnr h1 {
    font-size: 2.5em;
    margin: 30px 0;
    line-height: 1.4em;
}

#product-bnnr h1 span {
    color: #111;
    background: #fff;
    padding: 5px;
}

#product-bnnr p {
    font-size: 15px;
    color: rgba(255,255,255,0.7);
    margin: 0 0 30px 0;
    letter-spacing: 5px;
}

#category {
    width: 100%;
    height: 200px;
    padding: 50px 0;
    text-align: center;
}

#category h1 {
    font-size: 2.3em;
    margin: 20px 0;
    padding: 20px 0 0 0;
}

#category .container::before {
    display: block;
    content: '';
    width: 50%;
    height: 5px;
    background: #111;
}

#category .container::after {
    display: block;
    content: '';
    width: 50%;
    height: 5px;
    background: #111;
    float: right;
}

#category .flex {
    justify-content: center;
    align-items: center;
    text-align: center;
}

#category a{
    background: #dbdbdb;
    padding: 30px;
    margin: 0 20px 40px;
    width: 70px;
    height: 110px;
    color: #111;
    opacity: 0.7;
    transition: .5s ease;
}

#category a:hover {
    opacity: 1;
    transform: scale(1.2);
}

#shirt {
    width: 100%;
    height: auto;
    padding: 50px 0;
    margin: 130px 0 0 0;
    background: #dbdbdb;
}

#hood {
    width: 100%;
    height: auto;
    padding: 50px 0;
    margin: 50px 0;
}

.title {
    text-align: center;
}

.title h1 {
    font-size: 2.5em;
    letter-spacing: 4px;
}

#btn-blck {
    background: #111;
    padding: 15px 20px;
    border-radius: 1em;
    cursor: pointer;
    border: none;
    margin: 0 10px;
    transition: .5s ease;
    outline: none;
}

#btn-blck:hover {
    transform: scale(1.3);
}

#btn-wht {
    background: #fff;
    padding: 15px 20px;
    border-radius: 1em;
    cursor: pointer;
    border: none;
    margin: 0 10px;
    transition: .5s ease;
    outline: none;
}

#btn-wht:hover {
    transform: scale(1.3);
}

#shirt .flex {
    flex-wrap: wrap;
    justify-content: center;
}

#shirt img {
    width: 200px;
    height: 200px;
}

#hood .flex {
    flex-wrap: wrap;
    justify-content: center;
}

#hood img {
    width: 200px;
    height: 200px;
}

.img-box {
    width: 200px;
    height: 200px;
    display: block;
    position: relative;
    margin: 40px 10px;
    padding: 20px 0;
    text-align: center;
}

.img-box .name {
    position: relative;
    margin-top: 60px;
}

.img-box .name h4 {
    margin: 0 0 10px 0;
    font-size: 18px;
}

.img-box .name p {
    margin: 0;
    color: rgba(1,1,1,0.8);
    font-style: italic;
}

.img-hover {
    width: 150px;
    height: 150px;
    position: relative;
}

.img-hover .frnt, 
.img-hover .bck {
    position: absolute;
    transition: 2s;
    backface-visibility: hidden; 
}

.img-hover .frnt {
    transform: perspective(1000px) rotateY(0deg);
    z-index: 2;
    overflow: hidden;
}

.img-hover .bck {
    transform: perspective(1000px) rotateY(180deg);
    z-index: 2;
    overflow: hidden;
}

.img-hover:hover .frnt {
    transform: perspective(1000px) rotateY(-180deg);
    z-index: 2;
}

.img-hover:hover .bck {
    transform: perspective(1000px) rotateY(0deg);
    z-index: 2;
}